html,
body {
    height: 100%;
}

a {
	color: #2d2458;
}

a:hover {
	color: #393939;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
	background-image: url(../images/template/background.gif);
}

.wrap > .container {
    padding: 15px 15px 15px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.header {
	background-color: #c68d2a;
	/*background-image: url(../images/template/header.png);
	background-repeat: no-repeat;
	height: 140px;*/
}

.navbar {
	border: none;
	background-color: #2d2558;
	border-radius: 0px;
	margin-bottom: 5px;
}

#nav > li > a {
	color: #fff;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
}

#nav > li > a:hover {
	color: #2d2458;
	border: 1px solid #2d2458;
	padding: 14px 14px;
	background-color: #fff;
	border-radius: 3px;
}

#nav > li.active > a {
	color: #2d2458;
	border: 1px solid #2d2458;
	border-bottom-color: #fff;
	padding: 14px 14px;
	background-color: #fff;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.navbar-header > .navbar-brand {
	font-size: 18px;
	padding: 15px 15px;
	font-weight: bold;
	color: #fff;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

#nav .glyphicon {
	top: 0px;
	font-family: inherit;
	font-size: 10px;
}

#nav .glyphicon:before {
	align-right: true;
	font-family: 'Glyphicons Halflings';
	font-size: 16px;
}

.form-collapsed .form-group {
	margin-bottom: 3px;
}

.form-collapsed .help-block {
	margin-top: 2px;
	margin-bottom: 2px;
}

.form-assign {
	width: 700px;
	margin-top: 22px;
}

.form-assign label {
	width: 150px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

.form-assign .form-control{
	width: 350px;
	display: inline-block;
}
.form-assign .form-group{
	display: inline-block;
	margin-right: 1px;
	margin-bottom: 0px;
	width: 74%;
}
.form-assign .btn-right {
	display: inline-block;
}
.form-assign .help-block {
	margin-bottom: 5px;
	margin-top: 2px;
	padding-left: 165px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0px;
    position: relative;	
    vertical-align: bottom;
}
.btn {
    vertical-align: middle;
    margin-bottom: 0px;
	margin-left: 0px;
}
/* .bootstrap-timepicker {
    width: 75%;
} */
#mas {
    margin-bottom: -6px;
}

#crearAsignacion {
    /* margin-bottom: -6px; */
	margin-bottom: -7px;
	margin-left: 223px;
}

/* .bootstrap-timepicker {
    width: 57%;
} */
#hora {
    width: 118%;
}
#reserva {
    display: inline;
    margin-left: -93px;
    color: red;
}
.help-block {
    font-weight: bold;
    color: red;
}
.form-assign .bootstrap-timepicker {
    width: 350px;
}
.form-control[name=AssignationSearch\[room\]] {
	min-width: 170px;
	/* width: 170px; */
}
.form-control[name=AssignationSearch\[location\]] {
	min-width: 170px;
	/* width: 170px; */
}
/* .form-control[name=AssignationSearch\[start_time\]] {
	width: 81px;
}
.form-control[name=AssignationSearch\[end_time\]] {
	width: 81px;
}
.form-control[name=AssignationSearch\[full_name\]] {
	width: 190px;
}
.form-control[name=AssignationSearch\[client\]] {
	width: 190px;
}
.container .assignation-index .action-column {
    width: 69px;
} */